@import "bootstrap";
@import 'bootstrap-icons';
body {
  font-family: "Inter Variable", sans-serif;
   background-color: #141414;
  
}

.nav_logo {
  max-width: 150px;
}

.navbar_section{
    font-size: 0.9rem;
    font-weight: 500;
}

.placeholder_img {
  max-width: 342px;
}

.star {
  color: gold;
}


